<div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 20rem;">
  <div class="card-block">
    <h3 class="card-title">Your Account</h3>
    <p class="card-text"><%= current_user.email if current_user %></p>

  </div>
</div>
      </div>
    <div class="col-md-8">
      <% if user_signed_in? %>
        <%= link_to 'New Tweet', new_tweet_path %>
      <% end %>
      <ul class="list-group">  
          <% @tweets.each do |tweet| %>
            <tr>
              <td><%= tweet.user.email %></td>
              <td><%= tweet.content %></td>
              <td><%= link_to 'Show', tweet %></td>
              <% if tweet.user == current_user %>
                <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
                <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</div>
